$black: #372E11;
$yellow: #FFE182;
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$userfont: 'Raleway', $systemfont;
$titlefont: 'Marmelad', $systemfont;
$phonefont: 'Roboto', $systemfont;
$checkboxfont: 'PT Sans', $systemfont;

@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=PT+Sans&family=Raleway:wght@300;400;500;600&family=Roboto:wght@500&display=swap');