<header class="header">
	<div class="container">
		<div class="header__logo">
			<a class="logo" href="index.html">
				<img src="assets/images/logo.png" alt="logo">
			</a>
		</div>
		<nav class="nav">
			<a class="nav__link" href="#">Магазины</a>
			<a class="nav__link" href="#">Контакты</a>
			<a class="nav__link" href="#">О нас</a>
		</nav>
		<div class="header__info">
			<div class="header__phone">{{ data.phone }}</div>
			<div class="header__language">
				<a class="header__language-item active" href="#">Ru</a>
				<a class="header__language-item" href="#">Eng</a>
			</div>
			<div class="header__auth">
				<a class="header__auth-btn sign-in" href="#">Войти</a>
				<a class="header__auth-btn sign-up" href="#">Создать аккаунт</a>
			</div>
			<div class="burger">
				<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6.25 8.75H23.75" stroke="#372E11" stroke-width="2" stroke-linecap="round"/>
					<path d="M6.25 15H18.75" stroke="#372E11" stroke-width="2" stroke-linecap="round"/>
					<path d="M6.25 21.25H13.75" stroke="#372E11" stroke-width="2" stroke-linecap="round"/>
				</svg>
			</div>
		</div>
	</div>
</header>